@import "tailwindcss";
/* In your index.css or App.css */
.dark-popup .leaflet-popup-content-wrapper {
    background-color: #1f2937;
    color: white;
  }
  
  .dark-popup .leaflet-popup-tip {
    background-color: #1f2937;
  }
  
  .dark-popup h3 {
    color: #60a5fa !important;
  }
  
  .dark-popup p {
    color: #9ca3af !important;
  }